---
interface Props {
    label: string
    link: string
    class?: string
}

const { label, link } = Astro.props
---

<a
    href={link}
    class:list={['bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded m-auto hover:scale-105', Astro.props.class]}
    target="_blank"
>
    {label}
</a>
