---
import Subtitle from "@components/Subtitle.astro";
---

<section class=" bg-gray-100">
    <div class="w-8/12 m-auto p-8">
        <Subtitle class="mb-4">IV Duatlón contrarreloj por equipos El Ejido</Subtitle>
        <div class="flex justify-between">
            <div class="flex flex-col gap-8 w-7/12">
                <p>
                    Otro año más, organizamos el duatlón contrarreloj por equipos de la mano del Instituto Municipal de Deportes de El Ejido y vuelve a ser Cameonato de Andalucía y prueba puntuable para la V Superliga Andaluza de Clubes de Triatlón y el IV Circuito Provincial de Triatlón Diputación de Almería.
                </p>
                <p>
                    La prueba se celebrará el <strong>2 de febrero</strong> en el <strong>Parque Municipal de El Ejido</strong>.
                </p>
                <a class="text-orange-500 hover:text-orange-700" href="https://duatloncre.triatlonelejido.com" target="_blank">Ir a la página web de la prueba</a>
            </div>
            <img src="/img/cartel.png" alt="Cartel IV Duatlón contrarreloj por equipos El Ejido" class="w-52 h-auto" />
        </div>
    </div>
</section>