---

---

<section class="bg-[url('/img/bg.png')] bg-repeat w-full">
    <div class="w-full md:w-8/12 m-auto md:p-4 pt-10 text-center">
        <img src="/img/logo-white.png" class="w-56 h-auto m-auto p-4" />
        <h1
            class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-100 md:text-5xl lg:text-6xl"
        >
            <small class="font-medium md:text-4xl text-xl">- CLUB DEPORTIVO -</small><br /><span
                class="underline rounded-lg underline-offset-8 decoration-4 md:decoration-8 decoration-tri-orange-2 text-white"
                >TRIATLÓN EL EJIDO</span
            >
        </h1>
        <img src="/img/foto-club.jpg" class="h-auto md:max-w-3xl w-full m-auto mt-12 md:mb-12 duration-500 md:rounded-lg filter grayscale-0 hover:grayscale md:shadow-lg" />
    </div>
</section>
