---
---

<section class="bg-gray-200 flex flex-row justify-between p-20 pt-4 pb-4 items-center  italic text-gray-600 font-medium">
    <p class="z-10 text-lg">Siguenos en nuestras redes sociales.</p>
    
    <div class="flex flex-row items-center gap-8">
        <span class="text-5xl text-gray-300 opacity-55">@triatlonejido</span>
        <a href="https://www.facebook.com/triatlonejido" class="hover:scale-125 hover:drop-shadow-lg" target="_blank" rel="noopener noreferrer">
            <img src="/img/icon/fb.svg" alt="Facebook" class="w-8 h-8" />
        </a>
        <a href="https://www.instagram.com/triatlonejido" class="hover:scale-125 hover:drop-shadow-lg" target="_blank" rel="noopener noreferrer">
            <img src="/img/icon/instagram.svg" alt="Instagram" class="w-8 h-8" />
        </a>
    </div>
</section>